<ion-header>
  <ion-navbar hideBackButton >
      <ion-icon color="danger" style=" margin-left: 80%;" class="icon" name="search"></ion-icon>
      <ion-icon color="danger" style="padding-left: 10px;" name="cart"></ion-icon>
      
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
   <ion-slides  style="height:40% ; width:100%"autoplay="2000" loop="true" speed="500">
        <ion-slide style="height:40% ; width:100%" *ngFor="let image of imageArray">
          <img style="height:40% ; width:100%" [src]="image.image"/>
        </ion-slide>
  </ion-slides>

  
  <ion-grid>
  
        
            <ion-row >
                <ion-col  *ngFor="let item of items"   col-6 padding>
              
                    <ion-card  padding color="danger"  *ngIf="item.id==1 || item.id==2  " (click)="goToProduct1()" >
                        <div class="container">
                            <img [src]="item.category_img" />
                            <div class="bottom-left">{{item.name}}</div>
                          </div> 
                         
                         
                    </ion-card>

                    <ion-card  padding color="danger"  *ngIf="item.id==3 || item.id==4  " (click)="goToProduct2()" >
                        <div class="container">
                            <img [src]="item.category_img" />
                            <div class="bottom-left">{{item.name}}</div>
                          </div> 
                         
                         
                    </ion-card>

                </ion-col>
              </ion-row>
      
         
     
   
   
    
  
  </ion-grid>
  </ion-content>
